.highlight {
  animation: fade-color-keyframes 0.5s;
  animation-fill-mode: forwads;
  background-color: white;
}

@keyframes fade-color-keyframes {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
